@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-links {
    display: flex;
    font-size: 18px;
    align-items: flex-end;
    justify-content: space-between;
}

.row-container {
    display: flex;
    justify-content:center;
}

.blue-container, .hero-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.hero-container {
    flex-wrap: wrap;
    margin: 150px 50px 150px 150px;
    width: 450px;
    justify-content: space-between;
    gap: 10px;
}

.white-container{
    display: flex;
    flex-direction: column;
}

.white-container .row-container {
    gap: 40px;
}

.information-header {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
    margin: 50px 100px 50px 100px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 15px;
}

.info .box {
    border-radius: 10px;
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
}

.info .text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #5b6471;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px 150px 150px 50px;
}

a {
    padding: 22px;
    text-decoration: none;
    color: #e5e7eb;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.secondary-hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 17px;
    font-weight: 800;
    width: 150px;
    height: 40px;
    border-radius: 12px;
}